.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #7D00FF;

    width: 100vw;
    height: 100vh;
}

.homepage img {
    position: absolute;
    bottom: 0;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 50%;
    height: 100%;


}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    width: 50%;
    height: 100%;
}