.Homepage2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100vw;
    height: 100vh;

    background-color: white;
}

.Logo {
    position: absolute;
    top: 0;
}

.containerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 50%;
    height: 100vh;
}

.containerRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    z-index: 1;

    width: 50%;
    height: 100vh;
}

.perfilRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.containerRight h1 {
    color: black;
    font-family: 'Roboto', sans-serif;

}

.Tech {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.Tech img {
    width: 120px;
    height: 120px;
    margin-right: 25px;
}